<div id="yui-main">
    <div class="yui-b">
        <div class="yui-g">
            <h1>FAQS - Questions fréquemment posées</h1>
        </div>
        
        <div class="yui-g">
            <% @faqs.each do |faq| %>
                <p class="question">
                    <%=h faq.question %> ?
                </p>
                <p class="reponse">
                    <%= faq.reponse %>
                </p>
                <% if admin? %>
                <p>
                   <%= link_to 'Modifier', edit_faq_path(faq) %> 
                </p>
                <p>
                    <%= link_to 'Supprimer', faq, :confirm => 'Are you sure?', :method => :delete %>
                </p>
                <% end %>
            <% end %>
            
        </div>
        
    </div>
</div>

<div class="yui-b sidebar">
    <% if admin? %>
    <p><%= link_to 'Ajouter une faq', new_faq_path %></p>
    <% end %>
</div>

