<div id="yui-main">
    <div class="yui-b">
        
        <h1>ARTICLES DU MOIS</h1>
        
        <div class="yui-g">

            <% @articles.each do |article| %>
            <div class="liste-article">
                <p class="info-auteur">
                    <%= image_tag(article.auteur.avatar.url(:thumb)) %><br/>
                    Auteur : <%= article.auteur.name %><br/>
                    publié le : <%= I18n.l article.created_at %>
                </p>
                <p class="resume-article">
                    <%= truncate(article.body, :length => 160) %>
                </p>
                <p>
                    <%= link_to "Lire", article_path(article) %>
                </p>
            </div>
            <% end %>

            
        </div>
    </div>
</div>

<div class="yui-b sidebar">
    <div class="bloc contact">
        <h3 class="red">Archives</h3>
        <% @date = Date.today %>

        <%= calendar_for(@date.year, @date.month, :next_and_previous_month => [ "%b", lambda { |@date| articles_du_mois_path(@date) }], &articles_proc) %>
    </div>
    
    <%= render :partial => "shared/identification" %>    
</div>

