<div id="yui-main">
    <div class="yui-b">
        <h1>ARTICLES DU MOIS</h1>
        
        <div class="yui-g">
            
            <p><%= link_to 'Rédiger un article', new_article_path, :class => "lien-ajout"  if logged_in? %></p>

            <% @articles.each do |article| %>
            <div class="liste-article">
                <p class="img-auteur">
                    <%= image_tag(article.user.avatar.url(:thumb)) %>
                </p>
                <p class="info-auteur">
                    <span>Auteur : <%= article.user.name %></span><br/>
                    <pre>publié le : <%= I18n.l article.created_at %>
</pre>
                </p>
                <p class="resume-article">
                    <%= truncate(article.body, :length => 160) %>
                </p>
                <p>
                    <%= link_to "Lire", article_path(article) %><br/>
                </p>
                <p>
                    <%= article.comments.size %> commentaires
                </p>
                
            </div>
            <% end %>
            
        </div>
    </div>
</div>

<div class="yui-b sidebar">
    <div class="bloc contact">
        <h3 class="red">Archives</h3>
        <% @date = Date.today %>

        <%= calendar_for(@date.year, @date.month, :next_and_previous_month => [ "%b", lambda { |@date| articles_du_mois_path(@date) }], &articles_proc) %>
    </div>
    
    <%= render :partial => "shared/identification" %>    
</div>

