<div id="yui-main">
    <div class="yui-b">
        
        <h1>Nos Membres</h1>
        
        <div class="yui-g">                        
            <% if !@membres.blank? %>
            <table border="1" class="membre">
                <% @membres.in_groups_of(4, false) do |group| %>
                <tr>
                    <% group.each do |membre| %>
                    <td>
                        <div class="membre">
                            <p>
                                <%= membre.avatar.url(:thumb) if membre.avatar? %>
                            </p>
                            <p>
                                <%=h membre.login %>
                            </p>
                            <p>
                                <%= link_to "Voir profil", user_path(membre) %>
                            </p>
                            <% if admin? %>
                            <p>
                                <%= link_to "Supprimer", user_path(membre), :method => :delete %>
                            </p>
                            <% end %>
                        </div>
                    </td>
                    <% end %>
                </tr>
                <% end %>
            </table>
            <% else %>
                <p>
                    Pas encore de membres inscrits.
                </p>
            <% end %>
        </div>
    </div>
</div>

<div class="yui-b sidebar">
    <%= render :partial => "shared/identification" %>
</div>