<div id="yui-main">
    <div class="yui-b">
        
        <h1>Profil de <%= @membre.login %></h1>
        
        <div class="yui-g">   
            <p>
                <%= image_tag(@membre.avatar.url(:thumb), :size => "75x75") %>
            </p>         
            <p>
                <%= @membre.profil %>
            </p>
            <% if member? && @membre == current_user %>
                <%= link_to "Modifier le profil", edit_user_path(@membre) %>
            <% end %>
        </div>
        
        <div class="yui-g">
            <p>
                <%= link_to "Voir galleries", user_galleries_path(@membre) %>
            </p>
        </div>
    </div>
</div>

<div class="yui-b sidebar">
    <%= render :partial => "shared/identification" %>
</div>


