<div id="yui-main">
    <div class="yui-b">
        
        <h1>Profil de <%= @membre.login %></h1>
        
        <div class="yui-g">   
            <p class="img-auteur">
                <%= image_tag(@membre.avatar.url(:thumb), :size => "75x75") %>
            </p>         
            <p>
                <%= @membre.profil %>
            </p>
            <% if member? && @membre == current_user %>
                <%= link_to "Modifier le profil", edit_user_path(@membre) %>
            <% end %>
        </div>
        
        <div class="yui-g">
            <% if logged_in? %>
            
            <h2>Actions possibles</h2>
            
            <table border="0" cellspacing="5" cellpadding="5">
                <tr>
                    <td><%= link_to "+ Rédiger un article", new_user_article_path(@membre), :class => "lien-ajout" %></td>
                    <td><%= link_to "+ Ajouter une gallerie", new_user_gallery_path(@membre), :class => "lien-ajout" %></td>
                    <td>
                        <%= link_to "+ Ajouter un évenement", new_evenement_path(), :class => "lien-ajout" %>
                    </td>
                </tr>
            </table>
            <% end %>
        </div>
        
        <div class="yui-g">
            <h2>Les galleries d'images</h2>
            <p>
                <%= @membre.galleries.size %> galleries d'images.<br/> 
            </p>
            <% if !@membre.galleries.blank? %>
            <table>
                <% for gallery in @membre.galleries do %>
                <tr>
                    <td><%= image_tag(gallery.photo1.url(:thumb)) unless gallery.photo1.url.blank? %></td>
                    <td><%= image_tag(gallery.photo2.url(:thumb)) unless gallery.photo2.url.blank? %></td>
                    <td><%= image_tag(gallery.photo3.url(:thumb)) unless gallery.photo3.url.blank? %></td>
                    <td><%= image_tag(gallery.photo4.url(:thumb)) unless gallery.photo4.url.blank? %></td>
                    <td><%= image_tag(gallery.photo5.url(:thumb)) unless gallery.photo5.url.blank? %></td>
                </tr>
                <tr>
                    <td colspan="5"><%= link_to "Voir", user_gallery_path(@membre, gallery) %></td>
                </tr>
                <% end %>
            </table>                
            <% end %>
        </div>
    </div>
</div>

<div class="yui-b sidebar">
    <%= render :partial => "shared/identification" %>
</div>


