<div id="yui-main">
    <div class="yui-b">
        
        <h1>Liste des activités</h1>
        
        <div class="yui-g">
            <% if !@activites.blank? %>
                <% for activite in @activites %>
                  <p>
                    <b><%= activite.nom %></b>
                  </p>
                  <p>
                      Horaire : <%= activite.horaire %><br/>
                      Public : <%= activite.public_recu %><br/>
                      Lieu : <%= activite.lieu %>
                    </p>
                  <p>
                    <%= activite.description %>
                  </p>
                  <p>
                    <%= link_to "Détails", activite_path(activite) %>
                  </p>
                  <p>
                    <% if logged_in? %>
                        <%= link_to 'Modifier', edit_activite_path(activite) %> |
                        <%= link_to "Supprimer cette activité", activite_path(activite), :method => :delete %>
                    <% end %>
                  </p>
                 <% end %>
            <% end %>
        </div>
        
        <div class="yui-g">
            <% if logged_in? %>
                <hr>
                <%= link_to 'Enregistrez une activité', new_activite_path %>
            <% end %>
        </div>
    </div>
</div>

<div class="yui-b sidebar">
    <%= render :partial => "shared/identification" %>
</div>
