<div id="yui-main">
    <div class="yui-b">
        <h1>Enregistrez une activité</h1>
        
        <div class="yui-g">
            <% form_for(@activite) do |f| %>
              <%= f.error_messages %>

              <%= render :partial => 'form', :locals => {:f => f} %>

              <p>
                <%= f.submit 'Enregistrer' %>
              </p>
            <% end %>

            <%= link_to 'Retour', activites_path %>
        </div>
    </div>
</div>

<div class="yui-b sidebar">
    <%= render :partial => "shared/identification" %>
</div>



