<div id="yui-main">
    <div class="yui-b">
        <div class="yui-g">
            <h1>Modifier les informations sur l' association</h1>

            <% form_for(@association, :html => {:multipart => true}) do |f| %>
              <%= f.error_messages %>

              <%= render :partial => 'form', :locals => {:f => f} %>

              <p>
                <%= f.submit 'Mettre à jour' %>
              </p>
            <% end %>

            <%= link_to 'Retour', associations_path %>
        </div>
    </div>
</div>

<div class="yui-b sidebar">
    <%= render :partial => "shared/identification" %>
</div>
</div>