<div id="yui-main">
    <div class="yui-b">
        <div class="yui-g">
            <h1>A propos</h1>
            <p><%= @association.about_us %></p>
        </div>
               
        <div class="yui-g">
            <!-- TODO : Articles block -->
            <h1>Articles récents</h1>
            <% @articles.each do |article| %>
            <div class="liste-article">
                <p class="info-auteur">
                    <%= image_tag(article.auteur.avatar.url(:thumb)) %><br/>
                    Auteur : <%= article.auteur.name %><br/>
                    publié le : <%= I18n.l article.created_at %>
                </p>
                <p class="resume-article">
                    <%= truncate(article.body, :length => 160) %>
                </p>
            </div>
            <% end %>    
        </div>
        
        <div class="yui-g">
            <h1>A ne pas manquer</h1>
            <div class="yui-u first">
                <p>Premiere colonne</p>
            </div>
            <div class="yui-u">
                <p>Deuxieme colonne</p>
            </div>
            <!-- TODO : infos divers block -->
        </div>
    </div>
</div>

<div class="yui-b sidebar">
    <%= render :partial => "shared/identification" %>
</div>