<div id="yui-main">
    <div class="yui-b">
        <div class="yui-g about">
            <h1>Bienvenue</h1>
            <p><%= @association.about_us %></p>
        </div>
               
        <h1>Articles récents</h1>
        
        <% @articles.each do |article| %>
        <div class="yui-g articles">                
                <div class="info-auteur">
                    <%= image_tag(article.user.avatar.url(:thumb)) %><br/>
                    <%= article.user.name %><br/>
                    <%= I18n.l article.created_at %>
                </div>
                
                <div class="resume-article">
                    <%= truncate(article.body, :length => 160) %>
                </div>                
        </div>
        <% end %>
        
        <div class="yui-g tosee">
            <h1>A voir absolument</h1>
            <div class="yui-u first">
                <h2>Evénements</h2>
                <% if !@evenements.blank? %>
                <% @evenements.each do |evt| %>
                    <p>
                        <b><%= evt.titre %></b><br/>
                        <span class="date-info">
                            Le : <%= I18n.l evt.date %> - <%= evt.lieu %>
                        </span><br/>
                        
                        <%= truncate(evt.description, :length => 80) %>
                    </p>
                <% end %>
                <% else %>
                    <p>
                        Pas d'événement pour cette semaine
                    </p>
                <% end %>
            </div>
            <div class="yui-u">
                <h2>Galleries récentes</h2>
                <% @galleries.each do |gallery| %>
                <p>
                    <b>Membre : <%= gallery.user.name %></b><br/>
                    <%= link_to gallery.titre, user_gallery_path(gallery.user, gallery) %> : <%= truncate(gallery.description, :length => 80) %>
                </p>
                <% end %>
            </div>
        </div>
    </div>
</div>

<div class="yui-b sidebar">
    <%= render :partial => "shared/identification" %>
</div>