<div id="yui-main">
    <div class="yui-b">
        <div class="yui-g about">
            <h1>Bienvenue</h1>
            <p><%= @association.about_us %></p>
        </div>
               
        <h1>Articles récents</h1>
        
        <% @articles.each do |article| %>
        <div class="yui-g articles">                
                <div class="info-auteur">
                    <%= image_tag(article.user.avatar.url(:thumb)) %><br/>
                    <%= article.user.name %><br/>
                    <%= I18n.l article.created_at %>
                </div>
                
                <div class="resume-article">
                    <%= truncate(article.body, :length => 160) %>
                </div>                
        </div>
        <% end %>
        
        
        <div class="yui-g tosee">
            <h1>A voir absolument</h1>
            <div class="yui-u first">
                <% @evenements.each do |evt| %>
                    <p>
                        Date : <%= I18n.l evt.date %> | Lieu : <%= evt.lieu %><br/>
                        <b><%= evt.titre %></b><br/><br/>
                        <%= truncate(evt.description, :length => 80) %>
                    </p>
                <% end %>
                <p>Premiere colonne</p>
            </div>
            <div class="yui-u">
                <p>Les plus récentes galleries</p>
                <% @galleries.each do |gallery| %>
                <p>
                    Membre : <%= gallery.user.name %><br/>
                    <%= link_to gallery.titre, gallery_path(gallery) %> : <%= truncate(gallery.description, :length => 80) %>
                </p>
                <% end %>
            </div>
            <!-- TODO : infos divers block -->
        </div>
    </div>
</div>

<div class="yui-b sidebar">
    <%= render :partial => "shared/identification" %>
</div>