<div id="yui-main">
    <div class="yui-b">
        <div class="yui-g">
            <h1></h1>
        </div>
    </div>
</div>

<div class="yui-b sidebar">
    
</div>

<p>
  <b>Nom:</b>
  <%=h @association.nom %>
</p>

<p>
  <b>Adresse:</b>
  <%=h @association.adresse %>
</p>

<p>
  <b>Cp:</b>
  <%=h @association.cp %>
</p>

<p>
  <b>Ville:</b>
  <%=h @association.ville %>
</p>

<p>
  <b>Tel:</b>
  <%=h @association.tel %>
</p>

<p>
  <b>Fax:</b>
  <%=h @association.fax %>
</p>

<p>
  <b>Email:</b>
  <%=h @association.email %>
</p>

<p>
  <b>About us:</b>
  <%=h @association.about_us %>
</p>

<p>
  <b>Date creation:</b>
  <%=h @association.date_creation %>
</p>


<%= link_to 'Edit', edit_association_path(@association) %> |
<%= link_to 'Back', associations_path %>