  <p>
    <%= f.label :titre %><br />
    <%= f.text_field :titre %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 5, :class => "mceEditor" %>
  </p>
  <p>
    <%= f.label :photo1 %><br />
    <%= f.file_field :photo1 %>
  </p>

  <p>
    <%= f.label :photo2 %><br />
    <%= f.file_field :photo2 %>
  </p>

  <p>
    <%= f.label :photo3 %><br />
    <%= f.file_field :photo3 %>
  </p>

  <p>
    <%= f.label :photo4 %><br />
    <%= f.file_field :photo4 %>
  </p>

  <p>
    <%= f.label :photo5 %><br />
    <%= f.file_field :photo5 %>
  </p>

  <p>
    <%= f.label :photo6 %><br />
    <%= f.file_field :photo6 %>
  </p>