<h1>Modifier la gallerie</h1>

<% form_for([@membre, @gallery],:html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :locals => {:f => f} %>
  
  <p>
    <%= f.submit 'Mettre à jour' %>
  </p>
<% end %>

<%= link_to 'Voir', @gallery %> |
<%= link_to 'Retour', galleries_path %>