<div id="yui-main">
    <div class="yui-b">
        <div class="yui-g">
            <h1>Galleries de <%= @membre.login %></h1>
        </div>
        <% @galleries.each do |gallery| %>
            <div class="yui-g">
                <h3><%= gallery.titre %></h3>
                <p>
                    <%= gallery.description %>
                </p>
                <table>
                    <tr>
                        <td><%= image_tag(gallery.photo1.url(:thumb), {:rel => "lightbox"}) %></td>
                        <td><%= image_tag(gallery.photo2.url(:thumb)) %></td>
                        <td><%= image_tag(gallery.photo3.url(:thumb)) %></td>
                        <td><%= image_tag(gallery.photo4.url(:thumb)) %></td>
                        <td><%= image_tag(gallery.photo5.url(:thumb)) %></td>
                        <td><%= image_tag(gallery.photo6.url(:thumb)) %></td>
                    </tr>
                    <% if logged_in? && (current_user.login == @membre.login) %>
                    <tr>
                        <td>
                            <%= link_to "Supprimer", gallery_path(@gallery), :method => :delete, :confirm => "En êtes vous sur ?" %>
                        </td>
                    </tr>
                    <% end %>
                </table>
            </div>
        <% end %>
        
        <p>
            <%= link_to "Voir Profil", user_path(@membre) %>
        </p>
    </div>
</div>

<div class="yui-b sidebar">
    <%= render :partial => "shared/identification" %>
    <% if logged_in? && (current_user.login == @membre.login) %>
        <%= link_to "Ajouter une gallerie", new_user_gallery_path(@membre.id) %>
    <% end %>
</div>
