<h1>Listing galleries</h1>

<table>
  <tr>
    <th>User</th>
    <th>Titre</th>
    <th>Description</th>
    <th>Photo1 file name</th>
    <th>Photo1 file content type</th>
    <th>Photo1 file size</th>
    <th>Photo1 updated at</th>
    <th>Photo2 file name</th>
    <th>Photo2 content type</th>
    <th>Photo2 file size</th>
    <th>Photo2 updated at</th>
    <th>Photo3 file name</th>
    <th>Photo3 content type</th>
    <th>Photo3 file size</th>
    <th>Photo3 updated at</th>
    <th>Photo4 file name</th>
    <th>Photo4 content type</th>
    <th>Photo4 file size</th>
    <th>Photo4 updated at</th>
    <th>Photo5 file name</th>
    <th>Photo5 content type</th>
    <th>Photo5 file size</th>
    <th>Photo5 updated at</th>
    <th>Photo6 file name</th>
    <th>Photo6 content type</th>
    <th>Photo6 file size</th>
    <th>Photo6 updated at</th>
  </tr>

<% @galleries.each do |gallery| %>
  <tr>
    <td><%=h gallery.user_id %></td>
    <td><%=h gallery.titre %></td>
    <td><%=h gallery.description %></td>
    <td><%=h gallery.photo1_file_name %></td>
    <td><%=h gallery.photo1_file_content_type %></td>
    <td><%=h gallery.photo1_file_size %></td>
    <td><%=h gallery.photo1_updated_at %></td>
    <td><%=h gallery.photo2_file_name %></td>
    <td><%=h gallery.photo2_content_type %></td>
    <td><%=h gallery.photo2_file_size %></td>
    <td><%=h gallery.photo2_updated_at %></td>
    <td><%=h gallery.photo3_file_name %></td>
    <td><%=h gallery.photo3_content_type %></td>
    <td><%=h gallery.photo3_file_size %></td>
    <td><%=h gallery.photo3_updated_at %></td>
    <td><%=h gallery.photo4_file_name %></td>
    <td><%=h gallery.photo4_content_type %></td>
    <td><%=h gallery.photo4_file_size %></td>
    <td><%=h gallery.photo4_updated_at %></td>
    <td><%=h gallery.photo5_file_name %></td>
    <td><%=h gallery.photo5_content_type %></td>
    <td><%=h gallery.photo5_file_size %></td>
    <td><%=h gallery.photo5_updated_at %></td>
    <td><%=h gallery.photo6_file_name %></td>
    <td><%=h gallery.photo6_content_type %></td>
    <td><%=h gallery.photo6_file_size %></td>
    <td><%=h gallery.photo6_updated_at %></td>
    <td><%= link_to 'Show', gallery %></td>
    <td><%= link_to 'Edit', edit_gallery_path(gallery) %></td>
    <td><%= link_to 'Destroy', gallery, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New gallery', new_gallery_path %>