<div id="yui-main">
    <div class="yui-b">
        <div class="yui-g">
            <p>
              <b>Titre:</b>
              <%=h @gallery.titre %>
            </p>

            <p>
              <b>Description:</b>
              <%=h @gallery.description %>
            </p>
            
            <table>
                <tr>
                    <td><%= link_to image_tag(@gallery.photo1.url(:thumb)),@gallery.photo1.url(:medium),
                     {:rel => "lightbox[#{@gallery.titre}]"} unless @gallery.photo1.url.blank? %></td>
                    <td><%= link_to image_tag(@gallery.photo2.url(:thumb)),@gallery.photo2.url(:medium),
                     {:rel => "lightbox[#{@gallery.titre}]"} unless @gallery.photo2.url.blank? %></td>
                    <td><%= link_to image_tag(@gallery.photo3.url(:thumb)),@gallery.photo3.url(:medium),
                      {:rel => "lightbox[#{@gallery.titre}]"} unless @gallery.photo3.url.blank? %></td>
                    <td><%= link_to image_tag(@gallery.photo4.url(:thumb)),@gallery.photo4.url(:medium),
                      {:rel => "lightbox[#{@gallery.titre}]"} unless @gallery.photo4.url.blank? %></td>
                    <td><%= link_to image_tag(@gallery.photo5.url(:thumb)),@gallery.photo5.url(:medium),
                      {:rel => "lightbox[#{@gallery.titre}]"} unless @gallery.photo5.url.blank? %></td>
                </tr>
                <% if logged_in? && (current_user.login == @membre.login) %>
                <tr>
                    <td>
                        <%= link_to "Supprimer", user_gallery_path(@membre, @gallery), :method => :delete, :confirm => "En êtes vous sur ?" %>
                    </td>
                </tr>
                <% end %>
            </table>
        </div>
        
        <div class="yui-g">
            <%= link_to 'Modifier', edit_user_gallery_path(@membre) %> |
            <%= link_to 'Retour', user_galleries_path(@membre.id) %>
        </div>
    </div>
</div>

<div class="yui-b sidebar">
    <%= render :partial => "shared/identification" %>
</div>




