<div id="yui-main">
    <div class="yui-b">
        <h1 class="accroche">Enregistrer un Evénement</h1>
        
        <div class="yui-g">
            <% form_for(@evenement, :html => { :multipart => true }) do |f| %>
              <%= f.error_messages %>

              <%= render :partial => 'form', :locals => {:f => f} %>

              <p>
                <%= f.submit 'Enregistrer' %>
              </p>
            <% end %>
             <%= link_to "Retour", evenements_path(), :class => "button_link" %>
        </div>
    </div>
</div>

<div class="yui-b sidebar">
    <%= render :partial => "shared/identification" %>
</div>
